.slogan {
  &-container {
    bottom:200px;
    padding-top:0;
    position:relative;
  }
  &-box {
    background-color: rgba(0,0,0,.50);
    bottom: 2px;
    color: #e6e6e6;
    height: 200px;
    padding-top: 0;
    position: relative;
    width: 253px;
    z-index: 10;
    .fill {
      padding: 15px;
      position: relative;
      h2 {
        font-size: 24px;
        font-weight: 100;
        margin: 5px 0;
        text-transform: none;
      }
      p {
        position: absolute;
        bottom: 5px;
        right: 15px;
        vertical-align: bottom;
      }
      a {
        font-weight: 300;
      }
      .fa {
        color: #ffe400;
        margin-left: 2px;
      }
    }
  }
}
