<div class="navbar" role="navigation">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="navbar-header">
          <a class="navbar-brand hidden-xs" href="javascript:void(0)" ui-sref="root.home"><img src="assets/img/logo.png"/></a>
          <a class="navbar-brand visible-xs" href="javascript:void(0)" ui-sref="root.home" style="width:225!important;height:28px!important;"><img src="assets/img/logo.png" style="width:225;height:28px;"/></a>
          <button type="button" class="navbar-toggle" style="color:white;" data-toggle="collapse" data-target=".navbar-collapse">SITE MENU
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right navbar-links">
            <li ui-sref="root.home"><a>Home</a></li>
            <li ui-sref="root.portfolio"><a>Portfolio</a></li>
            <li ui-sref="root.contact"><a>Contact</a></li>
            <li class="socials visible-xs">
              <span>
                <a class="social" href="https://www.facebook.com/NocturnalMedia" target="_blank" title="Facebook"><i class="fa fa-facebook-square"></i></a>
                <a class="social" href="http://vimeo.com/nocturnalmedia" target="_blank" title="Vimeo"><i class="fa fa-vimeo-square"></i></a>
                <a class="social" href="http://youtube.com/user/nocturnalmediatv" target="_blank" title="YouTube"><i class="fa fa-youtube"></i></a>
                <a class="social" href="http://instagram.com/nocturnalmedia" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a>
                <a class="social" href="https://twitter.com/nocturnal_media" target="_blank" title="Twitter"><i class="fa fa-twitter-square"></i></a>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>