<!-- Slideshow -->
<div id="hero-container"><div id="slideshow"></div></div>

<!-- Main Content -->
<div class="container">

  <!-- Slogan Box -->
  <div class="slogan-container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="slogan-box">
          <div class="fill">
            <h2>Inspired by what keeps us up at night.</h2>
            <p>
              <a class="slogan" href="javascript:void(0)" ng-click="showVideo({videoUrl: 'https://vimeo.com/119135127'})">
                view our demo reel <i class="fa fa-arrow-circle-right"></i>
              </a>
            </p>
          </div>
        </div>
        <span class="socials hidden-xs">
          <a href="https://www.facebook.com/NocturnalMedia" target="_blank" title="Facebook"><i class="fa fa-facebook-square"></i></a>
          <a href="http://vimeo.com/nocturnalmedia" target="_blank" title="Vimeo"><i class="fa fa-vimeo-square"></i></a>
          <a href="http://youtube.com/user/nocturnalmediatv" target="_blank" title="YouTube"><i class="fa fa-youtube"></i></a>
          <a href="http://instagram.com/nocturnalmedia" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a>
          <a href="https://twitter.com/nocturnal_media" target="_blank" title="Twitter"><i class="fa fa-twitter-square"></i></a>
        </span>
        <div id="page-title" ng-cloak class="valign">
          <h1 ng-class="{'ng-hide':$root.currentState.data.title!='back'}" ng-bind="state.data.title" ui-sref="root.home" class="pointer"></h1>
          <h1 ng-class="{'ng-hide':$root.currentState.data.title=='back'}">{{state.data.title}}</h1>
          <h2>{{state.data.subtitle}}</h2>
        </div>
      </div>
    </div>
  </div>

  <!-- PAGES -->
  <div class="pages">

    <!-- Home Page -->
    <div ng-show="state.name === 'root.home'">
      <div class="row collection-row" ng-repeat="item in data.home | orderBy:'order'">
        <div class="col-md-10 col-md-offset-1">
          <div class="row collection-title">
            <h1 class="col-md-12"><a target="_blank" href="{{::item.url}}" ng-bind="item.title"></a></h1>
          </div>
          <div class="row collection-subtitle">
            <div class="col-md-7 p-l-sm">
              <h2 class="p-n" ng-bind="item.subtitle"></h2>
            </div>
            <div class="col-md-5 collection-links p-r-sm">
              <section ng-repeat="link in item.links | orderBy:'-fields.text'">
                <a ng-if="link.fields.action === 'openPage'" href="{{::link.fields.url}}" target="_blank">
                  <h2>{{::link.fields.text}} <i class="fa fa-external-link"></i></h2>
                </a>
                <a ng-if="link.fields.action === 'showVideo'" ng-click="showVideo(item)">
                  <h2>{{::link.fields.text}} <img src="assets/img/btn-arrow.png"/></h2>
                </a>
              </section>
            </div>
          </div>
          <div class="row collection-images">
            <div class="col-md-4" ng-repeat="img in item.images" ng-mouseover="onMouseOver(this,false)" ng-mouseout="onMouseOut(this,false)" href="{{::item.url}}">
              <img ng-class="{{img.divClass}}" ng-src="{{::img.file}}" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Portfolio Page -->
    <div ng-show="state.name === 'root.portfolio'">
      <div class="row collection-row" ng-repeat="item in data.portfolio">
        <div class="col-md-10 col-md-offset-1">
          <div class="row collection-title">
            <h1 class="col-md-12" ng-bind="item.title"></h1>
          </div>
          <div class="row collection-subtitle">
            <h2 class="col-md-12"><span ng-bind="item.subtitle"></span>&nbsp;<span ng-bind="item.client"></span></h2>
          </div>
          <div class="row">
            <div class="col-md-4 collection-images pointer" ng-repeat="img in item.images" ng-mouseover="onMouseOver(this,true)" ng-mouseout="onMouseOut(this,true)">
              <img ng-class="{{img.divClass}}" ng-click="showVideo(this.img)" ng-src="{{::img.file}}" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Contact Page -->
    <div ng-show="state.name === 'root.contact'">
      <div id="form" class="row m-t-lg">
        <div class="col-md-10">
          <div id="wufoo-zojjzst18qvwp1">
            <a href="https://nocturnalmedia.wufoo.com/forms/zojjzst18qvwp1"></a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<script>
var script = document.createElement('script');
script.type = 'text/javascript';
script.src = '/assets/js/form.js';
document.body.appendChild(script);
</script>
