meta(charset='utf-8')

include ./_meta
block meta

script(src='dist/vendor.min.js')
script(src='dist/nocturnal-media.js')
script(src='assets/js/form.js')
base(href='/')
block scripts

link(rel='stylesheet', href='//cloud.typography.com/6310472/693286/css/fonts.css')
style
  include ../../../node_modules/bootstrap/dist/css/bootstrap.min.css
  include ../../../node_modules/fancybox-plus/css/jquery.fancybox-plus.css
  include ../../assets/css/font-awesome.min.css
  include ../../dist/main.css
  block style
