block title
  title Nocturnal Media

//- site
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width')
meta(name='robots', content='all')

//- info
meta(name='author', content='Nocturnal Media <info@nocturnalmedia.tv>')
meta(name='keywords', content='Nocturnal Media,Production,Directing,Writing,Cinematorgraphy,Video Editing,Movie,Video')
meta(itemprop='name', content='Nocturnal Media')
meta(property='og:title', content='Nocturnal Media')
meta(property='og:url', content='http://nocturnalmedia.tv/')

//- description
meta(itemprop='description', content='NY-based production company - directing, producing, cinematography, editing, writing from 2 Northwestern alumni - Roland Smith & Will Keese')
meta(property='og:description', content='NY-based production company - directing, producing, cinematography, editing, writing from 2 Northwestern alumni - Roland Smith & Will Keese')

//- social image
meta(itemprop='image', content='http://www.nocturnalmedia.tv/assets/img/nocturnal-media.jpg')
meta(property='og:image', content='http://www.nocturnalmedia.tv/assets/img/nocturnal-media.jpg')
meta(property='og:image:type', content='image/jpg')
meta(property='og:image:width', content='640')
meta(property='og:image:height', content='360')

//- favicon
link(href='favicon.png', rel='shortcut icon')
link(href='favicon.png', rel='apple-itouch-icon')
