block title
  title express-pug-starter

block meta
  include ./includes/meta

block scripts
  include ./includes/scripts

  base(href='/')

block style
  style
    include ../../dist/main.css
    include ../../assets/css/bootstrap.min.css
    include ../../assets/css/font-awesome.min.css
    //- link(rel='stylesheet', href='vendor/fancybox/source/jquery.fancybox.css
    include ../../dist/main.css
    //- link(rel='stylesheet', href='//cloud.typography.com/6310472/693286/css/fonts.css
